body{
    background-image: url("../images/1131563-vertical-dbz-background-1920x1080-pc.jpg");
    color: #000000;
}

.container{
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: 115px;
}

.height{
    height: 0;
}

#myCharacter{
    margin-top: 5px;
    width: 100%;
    height: 200px;
}

#enemyCharacter{
    width: 100%;
    height: 200px;
}

.moveText{
    position: relative;
}

.moveText1{
    position: relative;
}

.moveText2{
    position: relative;
    display: inline;
}

.logoRight{
    float: right;
}

.name{
    position: absolute;
    z-index: 1;
    left: 64px;
    top: -13px;
}

.nameEnemy{
    position: absolute;
    z-index: 1;
    left: 64px;
    top: -170px;
}

.hpStyle{
    position: absolute; 
    z-index: 1; 
    bottom: -10px;
    left: 64px;
}

.enemyHp{
    position: absolute; 
    z-index: 1; 
    bottom: -10px;
    left: 64px;
}

.attackPower{
    position: absolute;
    left: 10px;
}

.container_img{
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border: 4px solid blue;
    width: 120px;
    height: 120px;
}

.container_enemy{
    position: relative;
    background-color: #aa0000;
    padding: 20px;
    border: 4px solid black;
    width: 120px;
    height: 120px;
}

#enemy{
    padding-top: 5px;
}

.remove{
    display: none;
}

