body{
    background-image: url("../images/1131563-vertical-dbz-background-1920x1080-pc.jpg");
    color: #000000;
}

.container{
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: 115px;
}

.height{
    height: 0;
}

.container_div {
    background-color: #ffffff;
    border: 4px solid blue;
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
}

#myCharacter{
    margin-top: 5px;
    width: 100%;
    height: 200px;
}

#enemyCharacter{
    width: 100%;
    height: 200px;
}



.container h3{
    position: absolute;
    left: 30px;
    top: -20px;
}

.attackPower{
    
}

.container_img{
    background-color: #ffffff;
    padding: 10px;
    border: 4px solid blue;
    width: 140px;
    height: 140px;
}

.container_enemy{
    background-color: #aa0000;
    padding: 10px;
    border: 4px solid blue;
    width: 140px;
    height: 140px;
}

#enemy{
    padding-top: 5px;
}

.remove{
    display: none;
}
